- frontpage_fragment_cache("grid_item", listing) do
  - with_first_listing_image(listing) do |first_image_url|
    .product.col-md-4.col-sm-4.col-xs-12.grid-item
      - first_image_url = ListingImage.where("listing_id = '#{listing.id}'").first.image.url(:medium)
      - name = PersonViewUtils.person_entity_display_name(listing.author, @current_community.name_display_type)
      .image.wow.fadeInUp{"data-wow-duration" => "500ms", :role => "button"}
        %a{:href => listing_path(listing.url)}
          %img.full-width{:alt => listed_listing_title(listing), :src => first_image_url}/
        .over-comment.middle
          %div
            %span.rating.font-roboto
              %i.theme-icon.pesto-icon-star-shape>
               5/5
            %span.brand.font-istok 
              = name
            .links
              %a.icon-button.small{:href => "#"}
                %i.theme-icon.pesto-icon-loving
              %a.btn.btn-default.btn-md{:href => listing_path(listing.url)} VIEW DETAIL
              %a.icon-button.small{:href => "#"}
                %i.pesto-icon-connector
      / End .image
      .image-comment
        - if listing.price
          - price = humanized_money_with_symbol(listing.price).upcase
          - price_unit = price_quantity_slash_unit(listing)

        - if !price_unit.blank?
          - price_text = price + " " + price_unit
        - else
          - price_text = price
          
        %h4 
          = listing.title
          %span.pull-right
            = price_text
        .price
          - if(!show_distance || distance.blank?)
            = link_to(person_path(username: listing.author.username), :class => "", title: name) do
              = name
      / End .image-comment
    / End .product

