!!!
/[if lt IE 7 ]
  <html
  lang="en" id="top" class="no-js ie6">
/[if IE 7 ]
  <html
  lang="en" id="top" class="no-js ie7">
/[if IE 8 ]
  <html
  lang="en" id="top" class="no-js ie8">
/[if IE 9 ]
  <html
  lang="en" id="top" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html#top.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Hazrati Marketplace
    %meta{:content => "We are an online marketplace highly focused on jewelry and watches. Members can register to buy sell or repair jewelry and watches. There is a lot of information provided on our site about jewelry, gemstones etc. Members can list diamond stud earrings, diamond bracelets, diamond pendants, all kind of jewelry etc.", :name => "description"}/
    %meta{:content => "Diamond earrings, diamond studs, diamond bracelets, diamond pendants, gemstone jewelry, gold and silver jewelry, online selling, online marketplace, jewelry repair, watch repair, rolex watches.", :name => "keywords"}/
    %meta{:content => "INDEX,FOLLOW", :name => "robots"}/
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/favicon/default/favicon_10.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/favicon/default/favicon_10.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    /[if lt IE 7] <script type="text/javascript">var BLANK_URL='https://www.hazrati.com/js/blank.html';var BLANK_IMG='https://www.hazrati.com/js/spacer.gif';</script>
    %link{:href => "/assets/origin_site_resource/d3c5gpp280u0ho.cloudfront.net/css_secure/7af57e35e0b6d4473994269d76a47c78.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/origin_site_resource/d3c5gpp280u0ho.cloudfront.net/css_secure/cd52b4d1b177d6f207e6a7f2ac9c6a82.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/origin_site_resource/d3c5gpp280u0ho.cloudfront.net/js/1b8d008c6f6b3c9f0762aff704a4e74b.js", :type => "text/javascript"}
    %script{"data-group" => "js001", :src => "/assets/origin_site_resource/d3c5gpp280u0ho.cloudfront.net/js/daa9674501e59fe9ec5db54178a9e543.js", :type => "text/javascript"}
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600", :rel => "stylesheet"}
    %link{:href => "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}

    /[if (lte IE 8) & (!IEMobile)]
      <link
      rel="stylesheet" type="text/css" href="/assets/origin_site/d3c5gpp280u0ho.cloudfront.net/css_secure/86495397f188f2e02ae487a7810e4bcf.css" media="all" />
    / [if (gte IE 9) | (IEMobile)]><!
    %link{:href => "/assets/origin_site_resource/d3c5gpp280u0ho.cloudfront.net/css_secure/4d49f0cf5a31c835a4373e1f4dbac46e.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag "origin_responsive.css"

    / <![endif]
    :javascript
      Mage.Cookies.path='/';Mage.Cookies.domain='.www.hazrati.com';
    %meta{:content => "initial-scale=1.0, width=device-width", :name => "viewport"}/
    :javascript
      optionalZipCountries=["HK","IE","MO","PA"];
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-77812920-1','www.hazrati.com');ga('set','anonymizeIp',true);ga('send','pageview');
    %script{:async => "", :src => "https://cdn.ywxi.net/js/1.js", :type => "text/javascript"}
    :javascript
      var Translator=new Translate([]);
    :javascript
      (function(h,o,t,j,a,r){h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};h._hjSettings={hjid:510991,hjsv:5};a=o.getElementsByTagName('head')[0];r=o.createElement('script');r.async=1;r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;a.appendChild(r);})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  %body.cms-index-index.cms-home
    .wrapper
      %noscript
        .global-site-notice.noscript
          .notice-inner
            %p
              %strong JavaScript seems to be disabled in your browser.
              %br/
              You must have JavaScript enabled in your browser to utilize the functionality of this website.
      .page
        :javascript
          jQuery.noConflict();if(Prototype.BrowserFeatures.ElementExtensions){var disablePrototypeJS=function(method,pluginsToDisable){var handler=function(event){event.target[method]=undefined;setTimeout(function(){delete event.target[method];},0);};pluginsToDisable.each(function(plugin){jQuery(window).on(method+'.bs.'+plugin,handler);});},pluginsToDisable=['collapse','dropdown','modal','tooltip','popover'];disablePrototypeJS('show',pluginsToDisable);disablePrototypeJS('hide',pluginsToDisable);}
        .header-language-background
        %header#header.page-header
          .page-header-container.container
            .row
              .col-sm-4
                %a.logo{:href => "/"}
                  %img.large{:alt => "Hazrati Marketplace", :src => "/assets/theme/logo.png"}/
                  %img.small{:alt => "Hazrati Marketplace", :src => "/assets/theme/logo.png"}/
                .store-language-container
              .col-sm-9
                - if logged_in
                  .header-links
                    %ul.links
                      %li
                        %span.glyphicon.glyphicon-home
                        %a{:href => "/", :title => "Home"}
                          %span Home
                      %li
                        %span.glyphicon.glyphicon-envelope
                        %a{:href => inbox_path, :title => "Messages"}
                          %span Messages
                      %li.dropdown
                        %span.glyphicon.glyphicon-user
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :type => "button"}
                          You 
                          %span.caret
                        %ul.dropdown-menu
                          %li
                            .view-profile
                              %h3 
                                = current_user_name
                              %a.btn.btn-default{:href => profile_path, :title => "View Profile"}
                                %span View Profile
                          %li.divider{:role => "seperator"}  
                          %li
                            %a{:href => manage_listings_path, :title => "Manage Shop"}
                              %span Manage Shop
                          %li
                            %a{:href => settings_path, :title => "Account Settings"}
                              %span Account Settings
                          %li.divider{:role => "seperator"}  
                          %li
                            %a{:href => logout_path, :title => "Sign Out"}
                              %span Sign Out
                - else
                  .header-links
                    %ul.links
                      %li.register
                        %a{:href => new_listing_path, :title => "Open a Store"}
                          %span Open a Store
                      %li.login
                      %li.register
                        %a{:href => sign_up_path, :title => "Register"}
                          %span Register
                      %li.login
                        %a.btn{:href => login_path, :title => "Log In"}
                          %span Log In

          .header-search-bar
            .container
              .row
                .col-xs-4
                  #home-page-browse-function.browse-function
                    #menu_toggle
                      %span Shop by Categories
                      %span.icon
                    %ul#browse_select_option.categorymenu.select.dropdown-menu{:style => "display: none;"}
                      - @categories = @current_community.categories.includes(:children)
                      - @main_categories = @categories.select { |c| c.parent_id == nil }
                      - @main_categories.each do |category|
                        %li
                          = link_to category.display_name(I18n.locale), search_path({category: category}), :class => "dropdown-toggle home-categories-main #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                .col-xs-9
                  #header-search
                    %form#search_mini_form.searchautocomplete.UI-SEARCHAUTOCOMPLETE
                      .form-search
                        = text_field_tag "q", params[:q], :class => "input-text UI-SEARCH UI-NAV-INPUT", :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")

                        %select.cat_select.selectpicker{:name => "cat"}
                          %option{:value => "0"} All
                          %option{:value => "3"}
                            Body
                          %option{:value => "4"}
                            Bracelets
                          %option{:value => "5"}
                            Brooches/Pins
                          %option{:value => "6"}
                            Earrings
                          %option{:value => "199"}
                            Findings
                          %option{:value => "185"}
                            Loose Diamonds and Gemstones
                          %option{:value => "7"}
                            Men
                          %option{:value => "42"}
                            Necklaces
                          %option{:value => "43"}
                            Rings
                          %option{:value => "168"}
                            Watches
                        .searchautocomplete-loader.UI-LOADER
                          #g01
                          #g02
                          #g03
                          #g04
                          #g05
                          #g06
                          #g07
                          #g08
                        #search_hint.searchautocomplete-placeholder{:style => "display:none"}
                        #search_autocomplete.UI-PLACEHOLDER.search-autocomplete.searchautocomplete-placeholder{:style => "display:none"}
                      %button.button.search-button{:title => "Go", :type => "submit"}
                        %span
                          %span Go
        
        :javascript
          var $j=jQuery.noConflict();jQuery(document).ready(function(){var ll=jQuery(window).width();if(ll==320||ll==1000)
          {jQuery("#mp_top_nav li.mp_engage_tab").click(function(){jQuery("#mp_top_nav li.mp_engage_tab ul").toggle()});jQuery("#mp_top_nav li.mp_sellers").click(function(){jQuery("#mp_top_nav li.mp_sellers ul").toggle()});jQuery("#mp_top_nav li.mp_sellers_tab").click(function(){jQuery("#mp_top_nav li.mp_sellers_tab ul").toggle()});}});
        :javascript
          function registerClicks()
          {document.getElementById('register_click').click();}
          jQuery('html').click(function(){jQuery('#browse_select_option').hide();})
          jQuery('#home-page-browse-function').click(function(e){e.stopPropagation();});jQuery('#menu_toggle').click(function(e){jQuery('#browse_select_option').slideToggle("fast");});
        .main-container.homepage-layout
          .main
            #amfpc-global_messages
            %script{:type => "application/ld+json"}
              :cdata
                {"@context":"http://schema.org","@type":"WebSite","url":"https://www.hazrati.com/","potentialAction":{"@type":"SearchAction","target":"https://www.hazrati.com/catalogsearch/result/index/?q={search_term_string}","query-input":"required name=search_term_string"}}
            .std
              #amfpc-messages
              .homepage-contents{:style => "display: none;"}  
            #banner_11423794670.banner_home
              .owl-carousel
                .item
                  %img{:alt => "Banner 3", :src => "/assets/banner/banner_4_3.jpg"}/
                .item
                  %img{:alt => "Banner 4", :src => "/assets/banner/banner1_4.jpg"}/
                .item
                  %img{:alt => "Banner 5", :src => "/assets/banner/banner3_4.jpg"}/
              .featured_seller.hidden-xs
                .container
                  .row
                    .col-md-7
                      .seller_info
                        .thumb
                          %a{:href => "/#{@best_seller[:seller].username}"}
                            - if !@best_seller.blank? && !@best_seller[:seller].blank?
                              %img{:alt => "#{@best_seller[:seller].display_name}", :height => "80", :src => "#{url_huge_avatar_thumb(@best_seller[:seller])}", :width => "80"}/
                        .info
                          %h4.title
                            %strong= @best_seller[:seller].display_name
                            from
                            %strong= @best_seller[:seller].username
                          %p.contact New York, United States
                        .clear
                    .col-md-6
                      .seller_prod
                        .thumb.count
                          %a{:href => "/#{@best_seller[:seller].username}", :style => "text-decoration:none"}
                            %span.count= @best_seller[:count]
                            %span items
                        - for i in 1..3 do
                          .thumb
                            - if !@best_seller[:listings].blank? && !@best_seller[:listings][i].blank?
                              - first_image_url = ListingImage.where("listing_id = '#{@best_seller[:listings][i].id}'").first.image.url(:thumb)
                              %a{:href => "#{listing_path(@best_seller[:listings][i])}"}
                                %img{:alt => "#{@best_seller[:listings][i].title}", :height => "80", :src => "#{first_image_url}", :width => "80"}/
                        .clear

            :javascript
              APPTHA(document).ready(function($){$("#banner_11423794670 > .owl-carousel").owlCarousel({navigation:0,slideSpeed:700,singleItem:true,transitionStyle:"fade",autoPlay:true,responsiveBaseWidth:window,touchDrag:true,autoHeight:true,});});
            %section#browse_marketplace.home_browse_box
              .container
                .row
                  .col-md-13
                    %h3 Jewelry &amp; Watches Marketplace
                    %p.subtitle Browse millions of beautiful products
                .row
                  .col-md-13
                    .trending_box.trending_marketplaces
                      %ul
                        - @homepage_sellers.each do |homepage_seller|
                          %li
                            .item
                              .large
                                - first_image_url = ListingImage.where("listing_id = '#{homepage_seller[:listings][0].id}'").first.image.url(:big)
                                %a{:href => "#{listing_path(homepage_seller[:listings][0])}"}
                                  %img{:alt => "#{homepage_seller[:listings][0].title}", :height => "238", :src => "#{first_image_url}", :width => "311"}/
                                .prod_info
                                  %h4= homepage_seller[:listings][0].title
                                  .price= '$' + homepage_seller[:listings][0].price.to_s
                                  .clear
                              .prod_thumbs
                                %ul
                                  %li.thumb
                                    - first_image_url = ListingImage.where("listing_id = '#{homepage_seller[:listings][1].id}'").first.image.url(:thumb)
                                    %a{:href => "#{listing_path(homepage_seller[:listings][1])}"}
                                      %img{:alt => "#{homepage_seller[:listings][1].title}", :height => "92", :src => "#{first_image_url}", :width => "92"}/
                                  %li.thumb
                                    - first_image_url = ListingImage.where("listing_id = '#{homepage_seller[:listings][2].id}'").first.image.url(:thumb)
                                    %a{:href => "#{listing_path(homepage_seller[:listings][2])}"}
                                      %img{:alt => "#{homepage_seller[:listings][2].title}", :height => "92", :src => "#{first_image_url}", :width => "92"}/
                                  
                                  %li.thumb.count
                                    %a{:href => "/#{homepage_seller[:seller].username}", :style => "text-decoration:none"}
                                      %span.count= homepage_seller[:count]
                                      %span items
                                .clear
                              .seller_info
                                .thumb
                                  %a{:href => "/#{homepage_seller[:seller].username}"}
                                    %img{:alt => "#{homepage_seller[:seller].display_name}", :height => "54", :src => "url_huge_avatar_thumb(homepage_seller[:seller])", :width => "54"}/
                                .info
                                  %p.name= homepage_seller[:seller].display_name
                                  %p.shop_title
                                    %a{:href => "/#{homepage_seller[:seller].username}"}>
                                      %strong= homepage_seller[:seller].username
                                  %p.contact= "From TX, United States"
                                .clear
                          
                      .clear
                      .more_marketplaces
                        %center
                          %a.btn.btn-primary{:href => "/"} See more shops

        .footer-content
          .footer-new-store-container
            .footer-new-store
              .container
                .row
                  .col-md-13
                    %h3 Join the Community and open your business today.
                    .new-store
                      %a.btn.btn-primary{:href => new_listing_path} Open a Store
          .footer-bottom.footer-links
            .container
              .row
                .col-md.col-sm-6
                  %h4 Selling on Hazrati
                  %ul.links
                    %li
                      %a{:href => new_listing_path} Open a Store
                    %li
                      %a{:href => "/seller-manual"} Seller Manual
                    %li
                      %a{:href => "/"} View All Sellers
                .col-md.col-sm-6
                  %h4 Tools &amp; Resources
                  %ul.links
                    %li
                      %a{:href => "/affiliates"} Affiliates
                .col-md.col-sm-6
                  %h4 Gift &amp; Education
                  %ul.links
                    %li
                      %a{:href => "/"} Blog
                .col-md.col-sm-6
                  %h4 All about us
                  %ul.links
                    %li
                      %a{:href => about_infos_path} About
                    %li
                      %a{:href => "/investors"} Investors
                    %li
                      %a{:href => "/return-and-refund-policy"} Return &amp; Refund Policy
                    %li
                      %a{:href => new_user_feedback_path} Contact Us
                .col-md.col-sm-6
                  %h4 Follow Hazrati
                  %ul.social-links
                    %li
                      %a.fb{:href => "https://www.facebook.com/Hazraticom-401120739940918/"} Facebook
                    %li
                      %a.tw{:href => "https://twitter.com/HazratiJewelry"} Twitter
                    %li
                      %a.ig{:href => "https://www.instagram.com/hazratimp/"} Instragram
                    %li
                      %a.gp{:href => "https://plus.google.com/114018279538405001230"} Google+
                    %li
                      %a.pt{:href => "https://www.pinterest.com/hazratijewelry/"} Pinterest
            %ul.payment
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/american_express.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/master_card.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/visa.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/discover.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/ups.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/fedex_1.jpg"}/
              %li
                %a{:href => "https://www.mcafeesecure.com/verify?host=www.hazrati.com", :target => "_blank"}
                  %img.mfes-trustmark.mfes-trustmark-hover{:alt => "McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams", :border => "0", :height => "40", :oncontextmenu => "window.open('https://www.mcafeesecure.com/verify?host=www.hazrati.com'); return false;", :src => "//cdn.ywxi.net/meter/www.hazrati.com/103.gif", :title => "McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams", :width => "320"}/

              %li
                %span#siteseal
                  %script{:async => "", :src => "https://seal.godaddy.com/getSeal?sealID=4HzSepFQDVxG0pNMG7rX1bVRNaiYCCWWxmokz8j0eqNMtX2JBvt76s7ikBaf", :type => "text/javascript"}
          .footer-bottom.footer-copyright
            .container
              .row
                .col-md-13
                  %p.copyright
                    ©
                    %strong 2015 Hazrati
                    \- All Rights Reserved
                  %ul.links
                    %li
                      %a{:href => "/terms-of-use"} Terms
                    %li
                      %a{:href => "/privacy"} Privacy
                    %li
                      %a{:href => "/cookies"} Cookies
                    %li
                      %a{:href => "/copyright"} Copyright
                    %li
                      %a{:href => "/interest-based-ads"} Interest-based Ads
        %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", :type => "text/javascript"}
        %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.css", :rel => "stylesheet", :type => "text/css"}/
        :javascript
          (function($){$('.curator-rating-box').raty({half:true,score:function(){return $(this).attr('data-score');},starType:'i',precision:false,click:function(score,event){var _this=$(this);$.ajax({url:_this.attr('data-url'),data:{productId:_this.attr('data-productid'),rating:score},dataType:'JSON',method:'GET'}).complete(function(result){var response=result.responseJSON;var inp=_this.closest('.curator-action').find('form.curator-point-box-form input[name="point"]');inp.val(response.ratingPoints);inp.addClass('updated');if(response.message){}});}});$(document).on('submit','.curator-point-box-form',function(e){e.preventDefault();var form=$(this);$.ajax({url:form.attr('action'),data:form.serialize(),dataType:'JSON',method:'GET'}).complete(function(result){var i=form.find('input[name="point"]');i.addClass('updated');if(result.responseJSON.message){}});});})(jQuery);
        :css
          input.updated{color:#090;font-weight:bold}
        #messenger-modal.modal.fade{:role => "dialog"}
          .modal-dialog
            %form{:action => "https://www.hazrati.com/messenger/message/send/", :method => "POST"}
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"} ×
                  %h2.modal-title Ask Seller
                .modal-body
                  .form-group
                    %label.control-label{:for => "messenger-title"} Title:
                    %input#messenger-title.form-control{:name => "title", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "messenger-message"} Message:
                    %textarea#messenger-message.form-control{:name => "body"}
                  %input#messenger-upload{:multiple => "true", :name => "file_upload", :type => "file"}/
                  %input{:name => "to_id", :type => "hidden"}/
                  %input{:name => "reply", :type => "hidden", :value => ""}/
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button.btn.btn-primary{:name => "send", :type => "submit", :value => "1"} Send Message
        :javascript
          (function($){$(document).on('click','a',function(e){var base=$(this);if(base.attr('data-target')=='#messenger-modal'){$('#messenger-modal').find('input[name="to_id"]').val($(this).attr('data-recipient'));$('#messenger-modal form').trigger('reset');$('#messenger-upload').uploadify('reset');}});$('#messenger-upload').uploadify({'formData':{'timestamp':'1497430398','token':'a09008614301789f91da5de832fc2e20'},'removeCompleted':false,'buttonClass':'btn btn-primary','swf':'https://www.hazrati.com/skin/frontend/hazrati/default/uploadify.swf','uploader':'https://www.hazrati.com/messenger/message/attach/','onUploadSuccess':function(file,data,response){$('#'+file.id).append('<input type="hidden" name="attachment[]" value="'+data+'"/>');},});$('#messenger-modal form').on('submit',function(e){e.preventDefault();var form=$(this);if(window.confirm("Do you really want to send the message?")==true){$.ajax({url:form.attr('action'),method:'POST',dataType:'JSON',data:form.serialize(),beforeaSend:function(){console.log(form.serialize());}}).always(function(result){alert(result.message);if(result.status==true){$('#messenger-modal button.close').trigger('click');}}).fail(function(){alert('An error occurred. Please try again later.');});}else{}});})(jQuery);
        :javascript
          var FEED_BASE_URL="https://www.hazrati.com/";
        %script{:src => "/assets/origin_site_resource/js/performance.js", :type => "text/javascript"}
        #wc-overlay.wc-overlay
          .wc-overlay-loading
        :javascript
          window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","hazrati.zendesk.com");
        :javascript
          var google_tag_params={ecomm_pagetype:"home"};var google_conversion_id=1008708293;var google_custom_params=google_tag_params;var google_remarketing_only=true;
        %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
        %noscript
          %div{:style => "display:inline;"}
            %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/1008708293/?value=0&guid=ON&script=0&data=ecomm_pagetype%3Dhome", :style => "border-style:none;", :width => "1"}/
      %script{:async => "", :src => "https://cdn.ywxi.net/js/1.js", :type => "text/javascript"}
      :javascript
        var $zoho=$zoho||{salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";s.defer=true;s.src="https://salesiq.zoho.com/hazraticom/float.ls?embedname=hazraticom";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);$zoho.salesiq.ready=function(embedinfo){$zoho.salesiq.floatbutton.visible("hide");}
      :javascript
        var scRec=document.createElement('SCRIPT');scRec.type='text/javascript';scRec.src="//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";document.getElementsByTagName('head')[0].appendChild(scRec);

    %input#json_autofind_words{:type => "hidden", :value => @autofind_words.to_json}

    %script{:src => "//code.jquery.com/jquery-1.12.4.js", :type => "text/javascript"}  
    %script{:src => "//code.jquery.com/ui/1.12.1/jquery-ui.js", :type => "text/javascript"}

    :javascript
      var jQuery_1_12_4 = $.noConflict();
 
      jQuery_1_12_4( function( $ ) {
        var availableTags = [
        ];

        availableTags = JSON.parse($('#json_autofind_words').val());

        $( "#q" ).autocomplete({
          source: availableTags
        });
      } );

