- is_homepage = params[:controller] == "homepage" && params[:action] == "index"
- is_category_page = (!params[:category].blank?) || (!params[:q].blank?)
- if is_category_page
  - content_for :coverfade_class do
    = "without-text"

  - content_for :page_css do 
    :css
        @import url(https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);
     
    = stylesheet_link_tag "vendor/bootstrap-select/css/bootstrap-select.min.css"
    = stylesheet_link_tag "vendor/owlcarousel/owl.carousel.css"
    = stylesheet_link_tag "vendor/owlcarousel/css/animate.css"


  - content_for :title_header do
    .browse-view-search-form
      = render partial: "search_bar"

  - content_for(:head) do
    - if seo_pagination_links[:prev].present?
      %link{rel: "prev", href: seo_pagination_links[:prev]}
    - if seo_pagination_links[:next].present?
      %link{rel: "next", href: seo_pagination_links[:next]}

  / Start Content
  %section.content{:role => "main"}
    / Start Content-Header
    .content-header.breadcrumb-header
      .wrapper
        .row
          .col-md-12
            .pull-left
              %h2 
                - if selected_category.nil?
                  = 'Search Result'
                - else
                  = localized_category_from_id(selected_category.id)
            %ul.breadcrumb.pull-right
              %li
                %a{:href => "/"} Home 
              %li  Category page 
              %li
                - if selected_category.nil?
                  = 'Search Result'
                - else
                  = localized_category_from_id(selected_category.id)
    / End .content-header
    / Start Content-Main
    .content-main
      .wrapper
        .row
          .col-md-9
            .category-top.row.pb-md
              .pull-left
                .select_sortby.inline-block
                  %select.bootstrap-select.type_sortby
                    %option{:selected => "selected", :value => "menu_order"} Default
                    %option{:value => "popularity"} popularity
                    %option{:value => "rating"} average rating
                    %option{:value => "date"} newness
                    %option{:value => "price"} price: low to high
                    %option{:value => "price-desc"} price: high to low
                / End .select_sortby
                .select_show.inline-block
                  %select.bootstrap-select.type_show
                    %option{:selected => "selected", :value => "15"} 15
                    %option{:value => "30"} 30
                    %option{:value => "60"} 60
                    %option{:value => "100"} 100
                    %option{:value => "200"} 200
                / End .select_show
              / End .pull-left
              .pull-right
                - if @view_type.eql?("grid")
                  .gridlist-toggle.pull-right
                    .call-to-action-btn.inline-block.mr-xs
                      %a.active.btn-grid.tiny-size-icon{:href => "#{search_path(search_params.merge(view: 'grid'))}", :title => "Grid View"}
                        %i.demo-icon.pesto-icon-four
                    .call-to-action-btn.inline-block
                      %a.btn-list.tiny-size-icon{:href => "#{search_path(search_params.merge(view: 'list'))}", :title => "List View"}
                        %i.demo-icon.pesto-icon-view2
                - else
                  .gridlist-toggle.pull-right
                    .call-to-action-btn.inline-block.mr-xs
                      %a.btn-grid.tiny-size-icon{:href => "#{search_path(search_params.merge(view: 'grid'))}", :title => "Grid View"}
                        %i.demo-icon.pesto-icon-four
                    .call-to-action-btn.inline-block
                      %a.active.btn-list.tiny-size-icon{:href => "#{search_path(search_params.merge(view: 'list'))}", :title => "List View"}
                        %i.demo-icon.pesto-icon-view2
                / End .gridlist-toggle
              / End .pull-right
            / End .category-top
            .products.pt-md

              - if @listings.total_entries > 0
                - if @view_type.eql?("map")
                  .home-map
                    = render :partial => "map", locals: { viewport: viewport }
                - else
                  - if @view_type.eql?("grid")
                    %div{class: "row grid"}
                      = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
                  - else
                    .home-listings
                      - if (location_search_in_use)
                        = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, show_distance: location_search_in_use }
                      - else
                        = render partial: "list_item", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map }
                  .home-loading-more
                    = will_paginate(@listings)
                    - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
                    = pageless(@listings.total_pages, item_container, current_search_path_without_page, t('.loading_more_content'), current_page)
              - else
                .home-no-listings
                  - if params[:q] || params[:category] || params[:share_type] # Some filter in use
                    = t(".no_listings_with_your_search_criteria")
                  - else
                    = t(".no_listings_notification",
                          add_listing_link: link_to(t(".add_listing_link_text"),
                          new_listing_path(ref: "add_listing_link"))).html_safe

          %aside.col-md-3.sidebar
            = render :partial => "custom_filters", locals: { filters: filters }

            .panel-group.widget-price
              .panel-group-heading
                .title
                  PRICE
                  %a.toggle{"data-object" => "pricewidget", "data-toggle" => "collapse", :href => "#pricewidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-group-heading
              #pricewidget.panel-group-body.panel-collapse.collapse.in
                .slider-range.mt-xlg
                  .ui-total-slider-range
                .mt-one-23
                  - min = MoneyUtil.to_units(MoneyUtil.to_money(@current_community.price_filter_min, @current_community.currency))
                  - max = MoneyUtil.to_units(MoneyUtil.to_money(@current_community.price_filter_max, @current_community.currency))
                  - price_start = params["price_min"] || min
                  - price_end   = params["price_max"] || max
                  from 
                  %input.price-amount.amount-start{:readonly => "readonly", :type => "text", :value => price_start}/
                  %span  to 
                  %input.price-amount.amount-end{:readonly => "readonly", :type => "text", :value => price_end}/
                  %input.hidden#price_min{:name => "price_min", :value => price_start}
                  %input.hidden#price_max{:name => "price_max", :value => price_end}
                .mt-lg
                  %button.btn.btn-ok.btn-borders.btn-transparent.mr-sm{:type => "submit"} OK
                  %button.btn.btn-clear.btn-borders.btn-transparent.mr-xs{:type => "button"} CLEAR
            
            .theme-ow-carousel-wrapper.advertising
              .theme-owl-carousel.owl-carousel.owl-theme
                .item
                  %img{:alt => "", :src => "/assets/img/category/advertising/image1.jpg"}/
                  .image-over-comment
                    %div
                      %h2 Smart &amp; Simple
                      %p Nec dui eros aliquet tempor. Morbi id lacus at urna.
                      %button.btn.btn-borders.btn-transparent{:type => "button"} READ MORE
                / End .item
                .item
                  %img{:alt => "", :src => "/assets/img/category/advertising/image2.jpg"}/
                  .image-over-comment
                    %div
                      %h2 Discounts &amp; Offers
                      %p Lorem ipsum dolor sit amet, consectetur adipis elit.
                      %button.btn.btn-borders.btn-transparent{:type => "button"} READ MORE
                / End .item
                .item
                  %img{:alt => "", :src => "/assets/img/category/advertising/image3.jpg"}/
                  .image-over-comment
                    %div
                      %h2 Smart &amp; Simple
                      %p Nec dui eros aliquet tempor. Morbi id lacus at urna.
                      %button.btn.btn-borders.btn-transparent{:type => "button"} READ MORE


- else
  - content_for :javascript do
    initialize_homepage();

  - content_for :coverfade_class do
    = "without-text"

  - content_for :page_css do 
    = stylesheet_link_tag "vendor/revolution/css/settings.css"
    = stylesheet_link_tag "vendor/revolution/css/layers.css"
    = stylesheet_link_tag "vendor/revolution/css/navigation.css"

  - content_for :page_script do
    = javascript_include_tag 'vendor/revolution/js/jquery.themepunch.tools.min'
    = javascript_include_tag 'vendor/revolution/js/jquery.themepunch.revolution.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.actions.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.carousel.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.kenburn.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.layeranimation.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.migration.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.navigation.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.parallax.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.slideanims.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.video.min'
    = javascript_include_tag 'homepage'

  - content_for :title_header do
    .browse-view-search-form
      = render partial: "search_bar"

  - content_for(:head) do
    - if seo_pagination_links[:prev].present?
      %link{rel: "prev", href: seo_pagination_links[:prev]}
    - if seo_pagination_links[:next].present?
      %link{rel: "next", href: seo_pagination_links[:next]}

  - if @current_community.private? && @big_cover_photo
    - if @community_customization && @community_customization.private_community_homepage_content
      .community-customization-wrapper
        = @community_customization.private_community_homepage_content.html_safe
    - else
      = t(".this_is_private_community")

  - else

    = render :partial => "layouts/banner"  
    .home-products.wrapper
      .product-list-title 
        %h2 Jewely & Watches Marketplace
      - main_container_class = "product-container col-12"
      %div{:class => main_container_class}
        - if @listings.total_entries > 0
          - if @view_type.eql?("map")
            .home-map
              = render :partial => "map", locals: { viewport: viewport }
          - else
            - if @view_type.eql?("grid")
              %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
                .home-fluid-thumbnail-grid
                  = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
            - else
              .home-listings
                - if (location_search_in_use)
                  = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, show_distance: location_search_in_use }
                - else
                  = render partial: "list_item", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map }
            .home-loading-more
              = will_paginate(@listings)
              - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
              = pageless(@listings.total_pages, item_container, current_search_path_without_page, t('.loading_more_content'), current_page)
        - else
          .home-no-listings
            - if params[:q] || params[:category] || params[:share_type] # Some filter in use
              = t(".no_listings_with_your_search_criteria")
            - else
              = t(".no_listings_notification",
                    add_listing_link: link_to(t(".add_listing_link_text"),
                    new_listing_path(ref: "add_listing_link"))).html_safe
