- is_homepage = params[:controller] == "homepage" && params[:action] == "index"
- is_category_page = !params[:category].blank?
- if is_category_page
  - content_for :coverfade_class do
    = "without-text"

  - content_for :page_css do 
    :css
        @import url(https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css);
        @import url(/assets/vendor/bootstrap-select/css/bootstrap-select.min.css);
        @import url(/assets/vendor/owlcarousel/owl.carousel.css);
        @import url(/assets/vendor/owlcarousel/css/animate.css);


  - content_for :title_header do
    .browse-view-search-form
      = render partial: "search_bar"

  - content_for(:head) do
    - if seo_pagination_links[:prev].present?
      %link{rel: "prev", href: seo_pagination_links[:prev]}
    - if seo_pagination_links[:next].present?
      %link{rel: "next", href: seo_pagination_links[:next]}

  / Start Content
  %section.content{:role => "main"}
    / Start Content-Header
    .content-header.breadcrumb-header
      .wrapper
        .row
          .col-md-12
            .pull-left
              %h2 
                = params[:category]
            %ul.breadcrumb.pull-right
              %li
                %a{:href => "#"} Home 
              %li  Category page 
              %li
                = params[:category]
    / End .content-header
    / Start Content-Main
    .content-main
      .wrapper
        .row
          .col-md-9
            .category-top.row.pb-md
              .pull-left
                .select_sortby.inline-block
                  %select.bootstrap-select.type_sortby
                    %option{:selected => "selected", :value => "menu_order"} Default
                    %option{:value => "popularity"} popularity
                    %option{:value => "rating"} average rating
                    %option{:value => "date"} newness
                    %option{:value => "price"} price: low to high
                    %option{:value => "price-desc"} price: high to low
                / End .select_sortby
                .select_show.inline-block
                  %select.bootstrap-select.type_show
                    %option{:selected => "selected", :value => "15"} 15
                    %option{:value => "30"} 30
                    %option{:value => "60"} 60
                    %option{:value => "100"} 100
                    %option{:value => "200"} 200
                / End .select_show
              / End .pull-left
              .pull-right
                .gridlist-toggle.pull-right
                  .call-to-action-btn.inline-block.mr-xs
                    %a.active.btn-grid.tiny-size-icon{:href => "#", :title => "Grid View"}
                      %i.demo-icon.pesto-icon-four
                  .call-to-action-btn.inline-block
                    %a.btn-list.tiny-size-icon{:href => "category_page-rightsidebar-list.html", :title => "List View"}
                      %i.demo-icon.pesto-icon-view2
                / End .gridlist-toggle
              / End .pull-right
            / End .category-top
            .products.pt-md

              - if @listings.total_entries > 0
                - if @view_type.eql?("map")
                  .home-map
                    = render :partial => "map", locals: { viewport: viewport }
                - else
                  - if @view_type.eql?("grid")
                    %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
                      .home-fluid-thumbnail-grid
                        = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
                  - else
                    .home-listings
                      - if (location_search_in_use)
                        = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, show_distance: location_search_in_use }
                      - else
                        = render partial: "list_item", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map }
                  .home-loading-more
                    = will_paginate(@listings)
                    - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
                    = pageless(@listings.total_pages, item_container, current_search_path_without_page, t('.loading_more_content'), current_page)
              - else
                .home-no-listings
                  - if params[:q] || params[:category] || params[:share_type] # Some filter in use
                    = t(".no_listings_with_your_search_criteria")
                  - else
                    = t(".no_listings_notification",
                          add_listing_link: link_to(t(".add_listing_link_text"),
                          new_listing_path(ref: "add_listing_link"))).html_safe

              
            .category-bottom.clearfix
              .pagination-container
                .clearfix
                  .title.pull-left
                    %span Items 1 to 18 of 120 total
                  %ul.pull-right.pagination.pagination-normal
                    %li.prev.hidden
                      %a{:href => "#", :role => "button"}
                        %i.theme-icon.pesto-icon-left-open-big
                    %li.active
                      %a{:href => "#", :role => "button"} 1
                    %li
                      %a{:href => "#", :role => "button"} 2
                    %li
                      %a{:href => "#", :role => "button"} 3
                    %li
                      %a{:href => "#", :role => "button"} 4
                    %li
                      %a{:href => "#", :role => "button"} 5
                    %li.next
                      %a{:href => "#", :role => "button"}
                        %i.theme-icon.pesto-icon-right-open-big
              / End .pagination-container
            / End .category-bottom
          / End .col-md-9
          %aside.col-md-3.sidebar
            .panel-group.widget-category
              .panel-group-heading
                .title
                  CATEGORY
                  %a.toggle{"data-object" => "categorywidget", "data-toggle" => "collapse", :href => "#categorywidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-group-heading
              #categorywidget.panel-group-body.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                .panel.panel-default
                  #headingOne.panel-heading{:role => "tablist"}
                    %h5.panel-title
                      Women
                      %a.toggle{"data-object" => "collapseOne", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                        %i.visible-collapsed.caret-icon.demo-icon.pesto-icon-plus
                        %i.visible-opened.fa.caret-icon.demo-icon.pesto-icon-minus
                  / End .panel-heading
                  #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                    .panel-body
                      %ul
                        %li
                          %a{:href => "#"} Clothing
                        %li
                          %a{:href => "#"} Shoes
                        %li
                          %a{:href => "#"} Accessories
                        %li
                          %a{:href => "#"} Sportswear
                        %li
                          %a{:href => "#"} Matemety
                  / End #collapseOne
                / End .panel
                .panel.panel-default
                  #headingTwo.panel-heading{:role => "tablist"}
                    %h5.panel-title
                      Men
                      %a.toggle.collapsed{"data-object" => "collapseTwo", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                        %i.visible-collapsed.caret-icon.demo-icon.pesto-icon-plus
                        %i.visible-opened.fa.caret-icon.demo-icon.pesto-icon-minus
                  / End .panel-heading
                  #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                    .panel-body
                      %ul
                        %li
                          %a{:href => "#"} Clothing
                        %li
                          %a{:href => "#"} Shoes
                        %li
                          %a{:href => "#"} Accessories
                        %li
                          %a{:href => "#"} Sportswear
                        %li
                          %a{:href => "#"} Matemety
                  / End #collapseTwo
                / End .panel
                .panel.panel-default
                  #headingThree.panel-heading{:role => "tablist"}
                    %h5.panel-title
                      Girls
                      %a.toggle.collapsed{"data-object" => "collapseThree", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                        %i.visible-collapsed.caret-icon.demo-icon.pesto-icon-plus
                        %i.visible-opened.fa.caret-icon.demo-icon.pesto-icon-minus
                  / End .panel-heading
                  #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                    .panel-body
                      %ul
                        %li
                          %a{:href => "#"} Clothing
                        %li
                          %a{:href => "#"} Shoes
                        %li
                          %a{:href => "#"} Accessories
                        %li
                          %a{:href => "#"} Sportswear
                        %li
                          %a{:href => "#"} Matemety
                  / End #collapseTree
                / End .panel
              / End #categorywidget
            / End .panel-group
            .panel-group.widget-brand
              .panel-group-heading
                .title
                  BRAND
                  %a.toggle{"data-object" => "brandwidget", "data-toggle" => "collapse", :href => "#brandwidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-group-heading
              #brandwidget.panel-group-body.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                %ul.checkbox-list
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Armani
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Bulgari
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Cristian dior
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Dolce &amp; gabbana
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Paco Rabanne
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Givenchy
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Donna karan
                  %li
                    .input-container
                      %input.smart_input{:name => "brand", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Stella McCartney
                / End .checkbox-list
              / End #brandwidget
            / End .panel-group
            .panel-group.widget-color
              .panel-group-heading
                .title
                  COLOR
                  %a.toggle{"data-object" => "colorwidget", "data-toggle" => "collapse", :href => "#colorwidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-heading
              #colorwidget.panel-group-body.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                %ul.checkbox-list
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Black 
                      %span.color-count (17)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Blue 
                      %span.color-count (21)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Cream 
                      %span.color-count (8)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Green 
                      %span.color-count (8)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Grey 
                      %span.color-count (27)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Yellow 
                      %span.color-count (3)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Lemon 
                      %span.color-count (16)
                  %li
                    .input-container
                      %input.smart_input{:name => "color", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      Orange 
                      %span.color-count (31)
                / End .checkbox-list
              / End #colorwidget
            / End .panel-group
            .panel-group.widget-size
              .panel-group-heading
                .title
                  SIZE
                  %a.toggle{"data-object" => "sizewidget", "data-toggle" => "collapse", :href => "#sizewidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-group-heading
              #sizewidget.panel-group-body.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                %ul.checkbox-list
                  %li
                    .input-container
                      %input.smart_input{:name => "size", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      XS / 34
                  %li
                    .input-container
                      %input.smart_input{:name => "size", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      S / 36
                  %li
                    .input-container
                      %input.smart_input{:name => "size", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      M / 38
                  %li
                    .input-container
                      %input.smart_input{:name => "size", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      L / 40
                  %li
                    .input-container
                      %input.smart_input{:name => "size", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      XL / 42
                  %li
                    .input-container
                      %input.smart_input{:name => "size", :type => "checkbox", :value => "Red"}/
                      .input-skin
                        %i.visible-unchecked.theme-icon.pesto-icon-circle-empty
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    .inline-block.input-text
                      XXL / 44
                / End .checkbox-list
              / End #sizewidget
            / End .panel-group
            .panel-group.widget-price
              .panel-group-heading
                .title
                  PRICE
                  %a.toggle{"data-object" => "pricewidget", "data-toggle" => "collapse", :href => "#pricewidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-group-heading
              #pricewidget.panel-group-body.panel-collapse.collapse.in
                .slider-range.mt-xlg
                  .ui-total-slider-range
                .mt-one-23
                  from 
                  %input.price-amount.amount-start{:readonly => "readonly", :type => "text"}/
                  %span  to 
                  %input.price-amount.amount-end{:readonly => "readonly", :type => "text"}/
                .mt-lg
                  %button.btn.btn-ok.btn-borders.btn-transparent.mr-sm{:type => "button"} OK
                  %button.btn.btn-clear.btn-borders.btn-transparent.mr-xs{:type => "button"} CLEAR
              / End #pricewidget
            / End .panel-group
            .panel-group.widget-bestsellers
              .panel-group-heading
                .title
                  BESTSELLERS
                  %a.toggle{"data-object" => "bestsellerswidget", "data-toggle" => "collapse", :href => "#bestsellerswidget"}
                    %i.visible-collapsed.pesto-icon-up-open-mini
                    %i.visible-opened.pesto-icon-down-open-mini
                / End .title
              / End .panel-group-heading
              #bestsellerswidget.panel-group-body.panel-collapse.collapse.in
                .bestseller-post
                  .bestseller-item
                    .image
                      %a{:href => "product.html"}
                        %img{:alt => "loading", :src => "/assets/img/category/100x116/bestseller1.jpg"}/
                    .image-comment
                      .title-box
                        %p.title Black puplum waist tie kudu dress
                      .price-box
                        %p.price $478.00
                  / End .bestseller-item
                  .bestseller-item
                    .image
                      %a{:href => "product.html"}
                        %img{:alt => "loading", :src => "/assets/img/category/100x116/bestseller2.jpg"}/
                    .image-comment
                      .title-box
                        %p.title Pale pink and black buttoned dress
                      .price-box
                        %p.price
                          $180.00 
                          %span.oldprice $250.00
                  / End .bestseller-item
                  .bestseller-item
                    .image
                      %a{:href => "product.html"}
                        %img{:alt => "loading", :src => "/assets/img/category/100x116/bestseller3.jpg"}/
                    .image-comment
                      .title-box
                        %p.title Shetland Wool Full Zip Sweater
                      .price-box
                        %p.price $478.00
                  / End .bestseller-item
                / End
              / End #bestsellerswidget
            / End .panel-group
            .theme-ow-carousel-wrapper.advertising
              .theme-owl-carousel.owl-carousel.owl-theme
                .item
                  %img{:alt => "", :src => "/assets/img/category/advertising/image1.jpg"}/
                  .image-over-comment
                    %div
                      %h2 Smart &amp; Simple
                      %p Nec dui eros aliquet tempor. Morbi id lacus at urna.
                      %button.btn.btn-borders.btn-transparent{:type => "button"} READ MORE
                / End .item
                .item
                  %img{:alt => "", :src => "/assets/img/category/advertising/image2.jpg"}/
                  .image-over-comment
                    %div
                      %h2 Discounts &amp; Offers
                      %p Lorem ipsum dolor sit amet, consectetur adipis elit.
                      %button.btn.btn-borders.btn-transparent{:type => "button"} READ MORE
                / End .item
                .item
                  %img{:alt => "", :src => "/assets/img/category/advertising/image3.jpg"}/
                  .image-over-comment
                    %div
                      %h2 Smart &amp; Simple
                      %p Nec dui eros aliquet tempor. Morbi id lacus at urna.
                      %button.btn.btn-borders.btn-transparent{:type => "button"} READ MORE
                / End .item
              / End .theme-owl-carousel
            / End .theme-ow-carousel-wrapper
          / End .col-md-3
        / End .row
      / End .wrapper
    / End .content-main
  / End .content


  = render :partial => "layouts/banner"  
  .home-products
    .product-list-title 
      %h2 Jewely & Watches Marketplace
    - main_container_class = "product-container col-12"
    %div{:class => main_container_class}
      - if @listings.total_entries > 0
        - if @view_type.eql?("map")
          .home-map
            = render :partial => "map", locals: { viewport: viewport }
        - else
          - if @view_type.eql?("grid")
            %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
              .home-fluid-thumbnail-grid
                = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
          - else
            .home-listings
              - if (location_search_in_use)
                = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, show_distance: location_search_in_use }
              - else
                = render partial: "list_item", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map }

      - else
        .home-no-listings
          - if params[:q] || params[:category] || params[:share_type] # Some filter in use
            = t(".no_listings_with_your_search_criteria")
          - else
            = t(".no_listings_notification",
                  add_listing_link: link_to(t(".add_listing_link_text"),
                  new_listing_path(ref: "add_listing_link"))).html_safe

- else
  - content_for :javascript do
    initialize_homepage();

  - content_for :coverfade_class do
    = "without-text"

  - content_for :page_css do 
    :css
        @import url(/assets/vendor/revolution/css/settings.css);
        @import url(/assets/vendor/revolution/css/layers.css);
        @import url(/assets/vendor/revolution/css/navigation.css);

  - content_for :page_script do
    = javascript_include_tag 'vendor/revolution/js/jquery.themepunch.tools.min'
    = javascript_include_tag 'vendor/revolution/js/jquery.themepunch.revolution.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.actions.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.carousel.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.kenburn.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.layeranimation.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.migration.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.navigation.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.parallax.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.slideanims.min'
    = javascript_include_tag 'vendor/revolution/js/extensions/revolution.extension.video.min'
    = javascript_include_tag 'homepage'

  - content_for :title_header do
    .browse-view-search-form
      = render partial: "search_bar"

  - content_for(:head) do
    - if seo_pagination_links[:prev].present?
      %link{rel: "prev", href: seo_pagination_links[:prev]}
    - if seo_pagination_links[:next].present?
      %link{rel: "next", href: seo_pagination_links[:next]}

  - if @current_community.private? && @big_cover_photo
    - if @community_customization && @community_customization.private_community_homepage_content
      .community-customization-wrapper
        = @community_customization.private_community_homepage_content.html_safe
    - else
      = t(".this_is_private_community")

  - else

    = render :partial => "layouts/banner"  
    .home-products
      .product-list-title 
        %h2 Jewely & Watches Marketplace
      - main_container_class = "product-container col-12"
      %div{:class => main_container_class}
        - if @listings.total_entries > 0
          - if @view_type.eql?("map")
            .home-map
              = render :partial => "map", locals: { viewport: viewport }
          - else
            - if @view_type.eql?("grid")
              %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
                .home-fluid-thumbnail-grid
                  = render partial: "grid_item", collection: @listings, as: :listing, locals: { show_distance: location_search_in_use }
            - else
              .home-listings
                - if (location_search_in_use)
                  = render partial: "list_item_with_distance", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map, show_distance: location_search_in_use }
                - else
                  = render partial: "list_item", collection: @listings, as: :listing, locals: { shape_name_map: shape_name_map }
            .home-loading-more
              = will_paginate(@listings)
              - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
              = pageless(@listings.total_pages, item_container, current_search_path_without_page, t('.loading_more_content'), current_page)
        - else
          .home-no-listings
            - if params[:q] || params[:category] || params[:share_type] # Some filter in use
              = t(".no_listings_with_your_search_criteria")
            - else
              = t(".no_listings_notification",
                    add_listing_link: link_to(t(".add_listing_link_text"),
                    new_listing_path(ref: "add_listing_link"))).html_safe
