- content_for :javascript do
  initialize_login_form(#{params[:password_forgotten]});

- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"

/ Start Content
%section.content.checkout
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h1 LOGIN
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "#"} Home 
            %li  Login
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41
        = form_tag("#{APP_CONFIG.login_domain}#{sessions_path}", :id => "form_personal_details", :action => "create") do
          .row
            .col-md-6.col-sm-6
              %div
                %h1 NEW CUSTOMERS
                .pt-xlg.mt-sm
                  .guide-text
                    By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
            .col-md-6.col-sm-6
              .right-field
                %h1 REGISTERED CUSTOMERS
                .row.pt-xlg.mt-sm
                  .col-md-12.mb-one-20
                    %p.m-none If you have an account with us, please log in.
                  .col-md-12.input-field
                    %label ENTER YOUR E-MAIL*
                    = text_field_tag "person[login]", nil, :value => session[:form_login], :class => "form-control", :id => "password", :autofocus => true
                  .col-md-12.input-field
                    %label ENTER YOUR PASSWORD*
                    = password_field_tag "person[password]", nil, :class => "form-control", :id => "confirm_password"
          .row
            .col-md-6.col-sm-6
              .row.mt-one-7
                .col-md-12.action-field
                  = link_to t('.create_new_account'), (@current_community ? sign_up_path : new_tribe_path), :class => "btn btn-default btn-create-an-accoun"
            .col-md-6.col-sm-6
              .right-field
                .row.mt-xs
                  .col-md-12.action-field
                    = button_tag(t('.login'), :class => "btn-default btn-login")
                    = link_to t('.i_forgot_my_password'), "#", :id => "password_forgotten_link", :class => "pull-right"
