/ Start Content
%section.content
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 Auto Attribute Assigner
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li Admin Panel
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41
        = render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

        .left-navi-section

          .row
            .col-12
              %h3 Manage Filters

              = render :partial => "layouts/info_text", :locals => { :text => 'Filters stand for attribute assign'}

          #custom-fields-list
            .row.mt-one-7.mb-one-5.mr-none.ml-none
              %a.btn.btn-default{ :href => view_queued_products_admin_auto_attributes_assigners_path} View Queued Products
              %a.btn.btn-default.pull-right{ :href => new_admin_auto_attributes_assigner_path} New Filter
            
            .table-responsive
              %table.table.table-bordered
                %tr
                  %th
                    = 'ID'
                  %th
                    = 'Title Contains'
                  %th
                    = 'Title doesn\'t Contains'
                  %th
                    = 'Description Contains'
                  %th
                    = 'Description doesn\'t Contains'
                  %th
                    = 'Status'
                  %th
                - @auto_attritues_assigners.each do |filter|
                  %tr
                    %td
                      = filter.id
                    %td
                      = filter.title_contains
                    %td
                      = filter.title_doesnot_contains
                    %td
                      = filter.description_contains
                    %td
                      = filter.description_doesnot_contains
                    %td
                      = filter.status
                      %div.custom-fields-details
                    %td
                      = link_to edit_admin_auto_attributes_assigner_path(filter), :class => "custom-fields-action-edit", :id => "edit_custom_field_#{filter.id}" do
                        = icon_tag("edit", ["icon-fix"])
                      = link_to admin_auto_attributes_assigners_path(filter), :method => :delete, :class => "custom-fields-action-remove", data: { :confirm => t("admin.custom_fields.index.remove_field_confirmation", :field_name => filter.id) } do
                        = icon_tag("cross", ["icon-fix"])
