- content_for :page_script do
  -# Initialize global I18n variable and load translations there
  :javascript
    window.I18n = {};

  = javascript_include_tag "i18n/#{I18n.locale}"

  = javascript_include_tag 'application'

  :javascript
    window.ST.jsonTranslations = #{JSONTranslations.get(I18n.locale)}

  - if @analytics_event
    :javascript
      report_analytics_event.apply(null, #{@analytics_event});
  - if @gtm_datalayer
    :javascript
      if(window.ST != null && typeof window.ST.gtmPush === 'function') {
        window.ST.gtmPush(#{@gtm_datalayer.to_json});
      }

  :javascript
    $(function() {
      if ('touchAction' in document.body.style) {
        document.body.style.touchAction = 'manipulation';
      } else {
        window.FastClick.attach(document.body, { excludeNode: '^pac-'} );
      }
    });

  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });

  :javascript
    $('.select-all').on('click', function(event) {
      event.preventDefault();

      $('input[type="checkbox"]', $(this).parent().parent().parent().parent()).each(function() {
        if (!$(this).is(':checked'))
        {
          $(this).click();
        }
      });
    });

    $('.deselect-all').on('click', function(event) {
      event.preventDefault();

      $('input[type="checkbox"]', $(this).parent().parent().parent().parent()).each(function() {
        if ($(this).is(':checked'))
        {
          $(this).click();
        }
      });
    });    

/ Start Content
%section.content
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 
              New Filter
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li Admin Panel
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41
        = render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

        .left-navi-section
          #new-field-form.new-field-form
            = form_for @auto_attributes_assigner, :url => admin_auto_attributes_assigners_path, :html => { :id => "new_admin_auto_attributes_assigner" } do |form|
              .tabs.tabs-default.tabs-Horizontal.tabs-top
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#target_description1"} FILTER
                  %li
                    %a{"data-toggle" => "tab", :href => "#target_details1"} ACTION
                  %li
                    %a{"data-toggle" => "tab", :href => "#target_comments1"} MATCHED PRODUCTS
                .tab-content
                  #target_description1.tab-pane.active
                    %h4 Filter Information
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :status, 'Status'
                        = form.select :status, [['Enabled', 'enabled'], ['Disabled', 'disabled']], {}, :class => "inline-select"
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :priority, 'Priority'
                        = form.text_field :priority, :id => "priority", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "number"

                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :product_ids, 'Product_ids'
                        = form.text_area :product_ids, :id => "product_lds_box", :disabled => "disabled", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :placeholder => "No Products"
                    %h4 Filter by Product Information
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :title_contains, 'Title Contains'
                        = form.text_field :title_contains, :id => "title_contains", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "text"
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :title_doesnot_contains, 'Title does Not contain'
                        = form.text_field :title_doesnot_contains, :id => "title_doesnot_contains", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "text"
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :description_contains, 'Description Contains'
                        = form.text_field :description_contains, :id => "description_contains", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "text"
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :description_doesnot_contains, 'Description Does Not Contain'
                        = form.text_field :description_doesnot_contains, :id => "description_doesnot_contains", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "text"
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = render :partial => "admin/auto_attributes_assigners/field_categories", :locals => { :form => form, :name => 'filter_category', :custom_categories => @filter_category }


                    %h4 Filter by Price
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :filter_by_price_from, 'From'
                        = form.text_field :filter_by_price_from, :id => "filter_by_price_from", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "number"
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = form.label :filter_by_price_to, 'To'
                        = form.text_field :filter_by_price_to, :id => "filter_by_price_to", :class => "form-control", "aria-invalid" => "false", "aria-required" => "true", :maxlength => "100", :placeholder => "", :type => "number"

                    .row.pt-sm.pb-sm
                      .col-md-12.mt-sm
                        = form.button "Save", :class => "btn btn-default", "data-loading-text" => "Loading...", :name => "save", :type => "submit"

                  #target_details1.tab-pane
                    %h4 Assign attribute options to the matched products
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = render :partial => "admin/auto_attributes_assigners/custom_fields", :locals => { :form => form, :listing => @auto_attributes_assigner, :custom_fields => @custom_field_questions }

                    %h4 Assign one or more categories to the matched products
                    .row.pt-sm.pb-sm
                      .col-md-12
                        = render :partial => "admin/auto_attributes_assigners/field_categories", :locals => { :form => form, :name => 'assign_attribute_category', :custom_categories => @assign_attribute_category }

                    .row.pt-sm.pb-sm
                      .col-md-12.mt-sm
                        = form.button "Save", :class => "btn btn-default", "data-loading-text" => "Loading...", :name => "save", :type => "submit"
                    
                  #target_comments1.tab-pane
                    %h4 Matched Products
                    %p 
