- content_for :extra_javascript do
  -# Initialize global I18n variable and load translations there
  :javascript
    window.I18n = {};

  = javascript_include_tag "i18n/#{I18n.locale}"

  = javascript_include_tag 'application'

  :javascript
    window.ST.jsonTranslations = #{JSONTranslations.get(I18n.locale)}

  - if @analytics_event
    :javascript
      report_analytics_event.apply(null, #{@analytics_event});
  - if @gtm_datalayer
    :javascript
      if(window.ST != null && typeof window.ST.gtmPush === 'function') {
        window.ST.gtmPush(#{@gtm_datalayer.to_json});
      }

  :javascript
    $(function() {
      if ('touchAction' in document.body.style) {
        document.body.style.touchAction = 'manipulation';
      } else {
        window.FastClick.attach(document.body, { excludeNode: '^pac-'} );
      }
    });

  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });
  :javascript
    $(document).ready(function() {
      window.ST.initialize_new_listing_form_selectors("#{I18n.locale}", #{category_tree.to_json}, #{listing_form_menu_titles().to_json});
    });

  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "?key=#{maps_key}" : ""
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) || search_mode == :keyword
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js#{key_param}" if needs_maps

- content_for :page_script do
  = yield :extra_javascript

- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"

/ Start Content
%section.content
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 Add A New Product
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li  Post a new listing
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41

        #new_listing_form.new-listing-form

          #selected-groups

            - if categories.size > 1
              .selected-group{:name => "category"}
                - categories.each do |value|
                  %a.select.selected.hidden{:data => {:id => value.id}}
                    .link-text= t(".selected_category", :category => value.display_name(I18n.locale))

            - if subcategories.size > 1
              .selected-group{:name => "subcategory"}
                - subcategories.each do |value|
                  %a.select.selected.hidden{:data => {:id => value.id}}
                    .link-text= t(".selected_subcategory", :subcategory => value.display_name(I18n.locale))

            - if shapes.size > 1
              .selected-group{:name => "listing_shape"}
                - shapes.each do |value|
                  %a.select.selected.hidden{:data => {:id => value[:id]}}
                    .link-text= t(".selected_transaction_type", :transaction_type => t(value[:name_tr_key]))

          %h2.listing-form-title{:id => "foo"}

          #option-groups

            - if categories.size > 1
              .option-group{:name => "category"}
                - categories.each do |value|
                  %a.select.option.hidden{:data => {:id => value.id}}
                    .link-text= value.display_name(I18n.locale)

            - if subcategories.size > 1
              .option-group{:name => "subcategory"}
                - subcategories.each do |value|
                  %a.select.option.hidden{:data => {:id => value.id}}
                    .link-text= value.display_name(I18n.locale)

            - if shapes.size > 1
              .option-group{:name => "listing_shape"}
                - shapes.each do |value|
                  %a.select.option.hidden{:data => {:id => value[:id]}}
                    .link-text= t(value[:name_tr_key])

          .js-form-fields.hidden
