- content_for :javascript do
  initialize_listing_view('#{I18n.locale}');
- content_for :page_css do
  :css
    @import url(/assets/vendor/easy-responsive-tabs/css/easy-responsive-tabs.css);
    @import url(/assets/vendor/owlcarousel/owl.carousel.css);
    @import url(/assets/vendor/owlcarousel/css/animate.css);

- content_for :extra_javascript do
  :javascript
    window.ST.listing();
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "?key=#{maps_key}" : ""
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) || search_mode == :keyword
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js#{key_param}" if needs_maps

- content_for :title, raw(@listing.title)
- content_for :meta_author, PersonViewUtils.person_display_name(@listing.author, @current_community)
- content_for :meta_description, StringUtils.first_words(@listing.description, 15)
- content_for :meta_image, @listing.listing_images.first.image.url(:medium) if !@listing.listing_images.empty?
- dimensions = @listing.listing_images.first.get_dimensions_for_style(:medium) if !@listing.listing_images.empty?
- content_for :meta_image_width, dimensions[:width].to_s if !@listing.listing_images.empty?
- content_for :meta_image_height, dimensions[:height].to_s if !@listing.listing_images.empty?
- content_for :keywords, StringUtils.keywords(@listing.title)
- content_for :page_script do 
  = javascript_include_tag 'application'
  = javascript_include_tag 'vendor/easy-responsive-tabs/js/easyResponsiveTabs'
  = javascript_include_tag 'vendor/owlcarousel/owl.carousel.min'

- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"

%script{type: "text/template", class: "template", id: "image-frame-template"}
  .listing-image-frame
    #listing-image-link.listing-image-frame-content
      .listing-image-vertical-centering{:class => "${aspectRatioClass}" }
        %img{:src => "${url}", :alt => @listing.title, :class => "listing-image ${aspectRatioClass}"}

%script{type: "text/template", class: "template", id: "image-thumbnail-template"}
  .listing-image-thumbnail-container
    %img.listing-image-thumbnail{src: "${url}"}
    .fade

- if local_assigns[:show_onboarding_popup]
  = render :layout => "layouts/lightbox", :partial => "layouts/onboarding_popup", locals: {title: t(popup_title_key), body: t(popup_body_key), action_label: t(popup_button_key), action_link: popup_action_link, image: asset_path(popup_image), id: "onboarding-popup" }

%section#content.shop.type1
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 
              = @listing.title
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "#"} Home
            %li 
              = localized_category_from_id(@listing.category_id)
            %li 
              = @listing.title
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      / Start products
      .products
        .product.clearfix
          / Start product-carousel
          .product-carousel
            - with_image_frame(@listing) do |reason, listing_images|
              - if reason == :images_ok
                .theme-ow-carousel-wrapper.advertising
                  .theme-owl-carousel.owl-carousel.owl-theme
                    .item
                      %img{:alt => "", :src => listing_images.first.image.url(:big)}/
                      .image-over-comment
                        %div
                          
                    / End .item
                    .item
                      - if listing_images.second
                        %img{:alt => "", :src => listing_images.second.image.url(:big)}/
                        .image-over-comment
                          %div
                          
            
              - else
                .listing-image-text-container
                  .listing-image-frame
                    .listing-image-frame-content
                      .listing-image-vertical-centering
                        .listing-no-image
                          - if reason == :images_processing
                            = t("listings.show.processing_uploaded_image")
                          - else
                            = t(".no_description")

            - @listing.custom_field_values.each do |custom_field_value|
              .row
                .col-12
                  - custom_field_value.with_type do |question_type|
                    = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }

          .product-summary
            .clearfix
              %h1.pull-left 
                = @listing.title
            - if @listing.price
              .price
                %ins
                = humanized_money_with_symbol(@listing.price).upcase
                
            
            .listing-author
              .listing-author-avatar
                = medium_avatar_thumb(@listing.author, {:class => "listing-author-avatar-image"})
              .listing-author-details
                .listing-author-name
                  = link_to PersonViewUtils.person_display_name(@listing.author, @current_community), @listing.author, :id => "listing-author-link", :class => "listing-author-name-link", :title => "#{PersonViewUtils.person_display_name(@listing.author, @current_community)}"
                - if @listing.author != @current_user
                  .listing-author-contact
                    %a#listing-contact{href: contact_to_listing_path(:listing_id => @listing.id.to_s), :class => "listing-author-contact-button"}
                      .content
                        = t(".contact")


            %p.product-comment
              Vestibulum pharetra mauris ac viverra rhoncus. Suspendisse vitae malesuada sem,
              auctor lacus facilisis auctor da sem, finibus ultrices risus. Aliquam sit amet felis auctor
              lacus
              = succeed "." do
                %i facilisis auctor
            .select
              %select#selSize{:style => "display: none"}
                %option xs
                %option s
                %option m
                %option l
                %option xl
              %div Select size
              %ul.list-inline.size
                %li
                  %a{:role => "button"} XS
                %li
                  %a{:role => "button"} S
                %li
                  %a{:role => "button"} M
                %li
                  %a{:role => "button"} L
                %li
                  %a{:role => "button"} XL
            .select
              %select#selColor{:style => "display: none"}
                %option black
                %option blue
                %option red
                %option green
              %div Select color
              %ul.list-inline.color
                %li
                  %a{"data-bgcolor" => "#5d5d5f", :href => "#", :style => "background-color: #5d5d5f;"}
                %li
                  %a{"data-bgcolor" => "#4e5e79", :href => "#", :style => "background-color: #4e5e79"}
                %li
                  %a{"data-bgcolor" => "#704a48", :href => "#", :style => "background-color: #704a49;"}
                %li
                  %a{"data-bgcolor" => "#577873", :href => "#", :style => "background-color: #577873;"}
            %form.cart{:enctype => "multipart/form-data", :action => form_path, :method => "get"}
              %ul.list-float-left.clearfix
                %li
                  %input.qty{:type => "text", :value => "1"}/
                %li
                  %a.btn.btn-md{:href => form_path} Buy This Product
                %li
                  %a.icon-button.small{:href => "#"}
                    %i.theme-icon.pesto-icon-loving
                %li
                  %a.icon-button.small{:href => "#"}
                    %i.demo-icon.pesto-icon-arrow
            .share
              Share
              - if !@current_community.private?
                .listing-social
                  .listing-fb-like-button
                    = facebook_like(current_user?(@listing.author))
                  .listing-tweet-button
                    - twitter_params =  {count: "horizontal", via: (@current_community.twitter_handle), text: @listing.title }.compact
                    = link_to("", "https://twitter.com/share", :class => "twitter-share-button", "data" => twitter_params)
                    - content_for :extra_javascript do
                      :javascript
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

              - unless (@listing.closed? && !current_user?(@listing.author)) || !@current_community.listing_comments_in_use
                .view-item
                  #comments.discussion.overflow-allowed
                    %h2
                      = icon_tag("chat_bubble", ["icon-with_text"])
                      .text-with-icon
                        = t(".comments")
                        %span#comment_count= "(#{@listing.comments_count})"
                    #follow-links.follow-links
                      = render :partial => "follow_links"
                    #comment-list
                      = render :partial => "comment", :collection => @listing.comments
                    #comment-form
                      = render :partial => "comment_form"

      .tab
        .row
          .col-md-12
            #easy_tabs.tabs-vertical.tabs-left
              %ul.nav.resp-tabs-list.tab-part
                %li
                  %a{"data-toggle" => "tab", :href => "#target_description"} DESCRIPTION
                %li
                  %a{"data-toggle" => "tab", :href => "#target_details"} DETAILS
                %li
                  %a{"data-toggle" => "tab", :href => "#target_comments"} COMMENTS
                %li
                  %a{"data-toggle" => "tab", :href => "#target_tags"} TAGS
              .resp-tabs-container.tab-part
                #target_description.tab-pane
                  .explanation
                    %p
                      - if @listing.description && !@listing.description.blank?
                        - text_with_line_breaks do
                          = @listing.description
                        - if(youtube_link_ids.present?)
                          - youtube_link_ids.each do |youtube_id|
                            .listing-description-youtube-wrapper
                              %iframe.listing-description-youtube-iframe{ title: t("listings.show.youtube_video_player"), width: 640, height:390, src: "//www.youtube.com/embed/#{ youtube_id }", frameborder: 0, allowfullscreen: true}
                     
                #target_details.tab-pane
                  %table.table.table-striped.detail-table
                    %tr
                      %td 1.  Digital TV or ATV
                      %td ATSC/NTSC
                    %tr
                      %td 2.  Area
                      %td North America
                    %tr
                      %td 3.  Display Technology
                      %td ELED
                    %tr
                      %td 4.  2D/3D
                      %td 2D
                    %tr
                      %td 5.  Refresh Rate
                      %td EMR120
                    %tr
                      %td 6.  Aspect Ratio
                      %td 16:9
                    %tr
                      %td 7.  Resolution
                      %td 1920 x 1080 px
                    %tr
                      %td 8.  Energy Grade
                      %td ENERGY STAR 6.1
                    %tr
                      %td 9.  ID Features
                      %td Plastic frame, ultra-narrow
                    %tr
                      %td 10.  Main Function
                      %td Multimedia play
                #target_comments.tab-pane.active
                  .comments-header.clearfix
                    %h3.pull-left
                      %span.comment-title> 2 REVIEW(S)
                      for "Black lace open back dress"
                    .pull-right
                      %span.font-roboto
                        %i.demo-icon.pesto-icon-star-shape>
                        5/5
                  .reviews.clearfix
                    / Start Review
                    - if received_testimonials.size > 0
                      .review
                        .image
                          %i.listing-author-activity-icon{:class => icon_class("testimonial")}
                        .image-comment
                          .clearfix
                            .pull-left
                              %span.review-title.font-istok
                                %i The best service ever!
                            .pull-right
                              %span.font-roboto
                                %i.demo-icon.pesto-icon-star-shape
                                - if received_testimonials.size > 0
                                  = feedback_positive_percentage.to_s + "%"
                                  = t("people.show.positive")
                                  = "(#{received_positive_testimonials.size}/#{received_testimonials.size})"
                                - else
                                  = t(".no_reviews")
                          %p 
                            = t(".feedback")
                          %span Nicole Bailey, 12.04.2016
                    / End review
                    / Start Review
                    .review
                      .image
                        %img{:alt => "photo", :src => "/assets/img/photo-shadow.png"}/
                      .image-comment
                        .clearfix
                          .pull-left
                            %span.review-title.font-istok
                              %i Very fast support!
                          .pull-right
                            %span.font-roboto
                              %i.demo-icon.pesto-icon-star-shape>  
                              5/5
                        %p
                          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras pretium suscipit
                          cursus. Vivamus eget tortor vel tellus consequat. Nam efficitur egestas diam, dignissim hendrerit purus placerat vitae. Nam efficitur egestas diam.
                        %span Andre Bailey, 12.05.2016

                    / End review
                  / End Reviews
                  / Start Customer's review
                  .review-customer
                    %h3 WRITE YOUR REVIEW
                    .rating
                      Your Rating*   
                      %span.fa.star-rating
                    %form#reviewForm{:method => "POST", :novalidate => "novalidate"}
                      .row
                        .col-md-6
                          %input#nick_name.form-control{:maxlength => "100", :name => "nick_name", :placeholder => "Enter your nickname*"}/
                        .col-md-6
                          %input#email.form-control{:maxlength => "100", :name => "email", :placeholder => "Enter your email*"}/
                      .row
                        .col-md-12
                          %textarea#ta_review.form-control{"aria-invalid" => "true", "aria-required" => "true", :maxlength => "5000", :name => "ta_review", :placeholder => "Write your review*", :rows => "10"}
                      .row
                        .col-md-12
                          %input.btn.btn-default{"data-loading-text" => "Loading...", :name => "review", :type => "submit", :value => "SUBMIT REVIEW"}/
                  / End Customer's review
                #target_tags.tab-pane
                  .explanation
                    %p
                      Vestibulum pharetra mauris ac viverra rhoncus. Suspendisse vitae malesuada sem, finibus ultrices risus. Aliquam sit amet felis
                      auctor lacus
                      %i facilisis auctor
                      da sem, finibus ultrices risus. Aliquam sit amet felis auctor lacus facilisis auctor. Sed quis tortor vitae tellus. Duis ligula justo, vulputate vitae malesuada eget, varius eu sapien. Duis vel mauris in risus porta sollicitudin vitae ac est. Duis augue nisl, feugiat eu turpis, congue porta lectus. Praesent auctor, ipsum ut pretium pulvinar, purus nibh accumsan lacus,
                      sit amet lobortis sapien tortor ut mi. Integer porttitor, velit sit amet dapibus luctus.
                    %p
                      Tellus justo sagittis ligula, sed posuere ante mauris ornare lectus. Fusce eleifend nulla sit amet purus fermentum sem gravida. Praesent posuere vehicula nunc ac,
                      %i porttitor tempus
                      ipsum. Ut vitae neque accumsan, consequat sem et, id vehicula augue.
                      Vestibulum suscipit mi a metus efficitur, a volutpat leo finibus. Vestibulum porttitor ultrices mi a iaculis. Praesent ornare est dolor, pellentesque dapibus nulla suscipit sollicitudin. Mauris blandit, nulla sed maximus auctor.
                    %p
                      Duis ac ipsum rutrum ex consequat volutpat eu eget arcu. Nunc euismod, est et finibus vehicula, neque lorem varius lectus,
                      sed posuere turpis quam vitae est. Morbi mattis molestie dictum. Mauris vel nulla et est interdum aliquam. Phasellus ut nisl
                      sapien. Morbi ut lacus id massa feugiat commodo ut eget justo.
  / End .content-main
  .content-footer
    .wrapper
      .row.text-center
        %h2 RELATED PRODUCTS
        .col-md-3.col-sm-6.col-xs-12.text-center.wow.fadeIn{"data-wow-duration" => "1000ms"}
          .product
            .image
              %a{:href => "product.html"}
                %img{:alt => "", :src => "/assets/img/products/related-1.jpg"}/
              .over-comment.middle
                %div
                  .links
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.theme-icon.pesto-icon-loving
                    %a.btn.btn-default.btn-md{:href => "shopping-cart.html"} ADD TO CART
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.pesto-icon-connector
            .image-content.text-left
              %h4.smaller Black lace open back dress
              %span.price
                %ins $124.00
        .col-md-3.col-sm-6.col-xs-12.text-center.wow.fadeIn{"data-wow-duration" => "1000ms"}
          .product
            .image
              %a{:href => "product.html"}
                %img{:alt => "", :src => "/assets/img/products/related-2.jpg"}/
              .over-comment.middle
                %div
                  .links
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.theme-icon.pesto-icon-loving
                    %a.btn.btn-default.btn-md{:href => "shopping-cart.html"} ADD TO CART
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.pesto-icon-connector
            .image-content.text-left
              %h4.smaller Black lace open back dress
              %span.price
                %ins $124.00
                %del $150.00
        .col-md-3.col-sm-6.col-xs-12.text-center.wow.fadeIn{"data-wow-duration" => "1000ms"}
          .product
            .image
              %a{:href => "product.html"}
                %img{:alt => "", :src => "/assets/img/products/related-3.jpg", :style => "border-bottom: solid 1px white;"}/
              .over-comment.middle
                %div
                  .links
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.theme-icon.pesto-icon-loving
                    %a.btn.btn-default.btn-md{:href => "shopping-cart.html"} ADD TO CART
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.pesto-icon-connector
            .image-content.text-left
              %h4.smaller Black lace open back dress
              %span.price
                %ins $124.00
        .col-md-3.col-sm-6.col-xs-12.text-center.wow.fadeIn{"data-wow-duration" => "1000ms"}
          .product
            .image
              %a{:href => "product.html"}
                %img{:alt => "", :src => "/assets/img/products/related-4.jpg"}/
              .over-comment.middle
                %div
                  .links
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.theme-icon.pesto-icon-loving
                    %a.btn.btn-default.btn-md{:href => "shopping-cart.html"} ADD TO CART
                    %a.icon-button.small.hidden-sm.hidden-xs{:href => "#"}
                      %i.pesto-icon-connector
            .image-content.text-left
              %h4.smaller Black lace open back dress
              %span.price
                %ins $124.00
