- content_for :javascript do
  initialize_listing_view('#{I18n.locale}');
- content_for :page_css do
  = stylesheet_link_tag "vendor/easy-responsive-tabs/css/easy-responsive-tabs.css"
  = stylesheet_link_tag "vendor/owlcarousel/owl.carousel.css"
  = stylesheet_link_tag "vendor/owlcarousel/css/animate.css"

- content_for :extra_javascript do
  :javascript
    window.ST.listing();
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "?key=#{maps_key}" : ""
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) || search_mode == :keyword
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js#{key_param}" if needs_maps

- content_for :title, raw(@listing.title)
- content_for :meta_author, PersonViewUtils.person_display_name(@listing.author, @current_community)
- content_for :meta_description, StringUtils.first_words(@listing.description, 15)
- content_for :meta_image, @listing.listing_images.first.image.url(:medium) if !@listing.listing_images.empty?
- dimensions = @listing.listing_images.first.get_dimensions_for_style(:medium) if !@listing.listing_images.empty?
- content_for :meta_image_width, dimensions[:width].to_s if !@listing.listing_images.empty?
- content_for :meta_image_height, dimensions[:height].to_s if !@listing.listing_images.empty?
- content_for :keywords, StringUtils.keywords(@listing.title)
- content_for :page_script do

  = javascript_include_tag 'vendor/easy-responsive-tabs/js/easyResponsiveTabs'

- content_for :page_second_script do
  -# Initialize global I18n variable and load translations there
  :javascript
    window.I18n = {};

  = javascript_include_tag "i18n/#{I18n.locale}"

  = javascript_include_tag 'application'

  :javascript
    window.ST.jsonTranslations = #{JSONTranslations.get(I18n.locale)}

  - if @analytics_event
    :javascript
      report_analytics_event.apply(null, #{@analytics_event});
  - if @gtm_datalayer
    :javascript
      if(window.ST != null && typeof window.ST.gtmPush === 'function') {
        window.ST.gtmPush(#{@gtm_datalayer.to_json});
      }

  :javascript
    $(function() {
      if ('touchAction' in document.body.style) {
        document.body.style.touchAction = 'manipulation';
      } else {
        window.FastClick.attach(document.body, { excludeNode: '^pac-'} );
      }
    });

  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });

  = yield :extra_javascript;

- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"

%script{type: "text/template", class: "template", id: "image-frame-template"}
  .listing-image-frame
    #listing-image-link.listing-image-frame-content
      .listing-image-vertical-centering{:class => "${aspectRatioClass}" }
        %img{:src => "${url}", :alt => @listing.title, :class => "listing-image ${aspectRatioClass}"}

%script{type: "text/template", class: "template", id: "image-thumbnail-template"}
  .listing-image-thumbnail-container
    %img.listing-image-thumbnail{src: "${url}"}
    .fade

- if local_assigns[:show_onboarding_popup]
  = render :layout => "layouts/lightbox", :partial => "layouts/onboarding_popup", locals: {title: t(popup_title_key), body: t(popup_body_key), action_label: t(popup_button_key), action_link: popup_action_link, image: asset_path(popup_image), id: "onboarding-popup" }

%section#content.shop.type1
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 
              = @listing.title
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "#"} Home
            %li 
              = localized_category_from_id(@listing.category_id)
            %li 
              = @listing.title
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      / Start products
      .products
        .product.clearfix
          / Start product-carousel
          .product-carousel
            - with_image_frame(@listing) do |reason, listing_images|
              - if reason == :images_ok
                .theme-ow-carousel-wrapper.advertising
                  .theme-owl-carousel.owl-carousel.owl-theme
                    .item
                      %img{:alt => "", :src => listing_images.first.image.url(:big)}/
                      .image-over-comment
                        %div
                          
                    / End .item
                    .item
                      - if listing_images.second
                        %img{:alt => "", :src => listing_images.second.image.url(:big)}/
                        .image-over-comment
                          %div
                          
            
              - else
                .listing-image-text-container
                  .listing-image-frame
                    .listing-image-frame-content
                      .listing-image-vertical-centering
                        .listing-no-image
                          - if reason == :images_processing
                            = t("listings.show.processing_uploaded_image")
                          - else
                            = t(".no_description")

          .product-summary
            .clearfix
              %h1.pull-left 
                = @listing.title
            - if @listing.price
              .price
                %ins
                = humanized_money_with_symbol(@listing.price).upcase
                
            #listing-message-links
              = render :partial => "listing_actions", locals: { form_path: form_path, payment_gateway: payment_gateway, delivery_opts: delivery_opts, process: process, listing_unit_type: listing_unit_type, country_code: country_code, blocked_dates_end_on: blocked_dates_end_on, blocked_dates_result: blocked_dates_result, manage_availability_props: manage_availability_props, availability_enabled: availability_enabled }

            .listing-author.mt-one-15
              .listing-author-avatar
                = medium_avatar_thumb(@listing.author, {:class => "listing-author-avatar-image"})
              .listing-author-details
                .listing-author-name
                  = link_to PersonViewUtils.person_display_name(@listing.author, @current_community), @listing.author, :id => "listing-author-link", :class => "listing-author-name-link", :title => "#{PersonViewUtils.person_display_name(@listing.author, @current_community)}"
                - if @listing.author != @current_user
                  .listing-author-contact
                    %a#listing-contact{href: contact_to_listing_path(:listing_id => @listing.id.to_s), :class => "btn btn-default"}
                      .content
                        = t(".contact")

            .share
              Share
              - if !@current_community.private?
                .listing-social
                  .listing-fb-like-button
                    = facebook_like(current_user?(@listing.author))
                  .listing-tweet-button
                    - twitter_params =  {count: "horizontal", via: (@current_community.twitter_handle), text: @listing.title }.compact
                    = link_to("", "https://twitter.com/share", :class => "twitter-share-button", "data" => twitter_params)
                    - content_for :extra_javascript do
                      :javascript
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

              - unless (@listing.closed? && !current_user?(@listing.author)) || !@current_community.listing_comments_in_use
                .view-item
                  #comments.discussion.overflow-allowed
                    %h2
                      = icon_tag("chat_bubble", ["icon-with_text"])
                      .text-with-icon
                        = t(".comments")
                        %span#comment_count= "(#{@listing.comments_count})"
                    #follow-links.follow-links
                      = render :partial => "follow_links"
                    #comment-list
                      = render :partial => "comment", :collection => @listing.comments
                    #comment-form
                      = render :partial => "comment_form"

      .tab
        .row
          .col-md-12
            #easy_tabs.tabs-vertical.tabs-left
              %ul.nav.resp-tabs-list.tab-part
                %li
                  %a{"data-toggle" => "tab", :href => "#target_description"} DESCRIPTION
                %li
                  %a{"data-toggle" => "tab", :href => "#target_details"} DETAILS

              .resp-tabs-container.tab-part
                #target_description.tab-pane
                  .explanation
                    %p
                      - if @listing.description && !@listing.description.blank?
                        - text_with_line_breaks do
                          = @listing.description
                        - if(youtube_link_ids.present?)
                          - youtube_link_ids.each do |youtube_id|
                            .listing-description-youtube-wrapper
                              %iframe.listing-description-youtube-iframe{ title: t("listings.show.youtube_video_player"), width: 640, height:390, src: "//www.youtube.com/embed/#{ youtube_id }", frameborder: 0, allowfullscreen: true}
                     
                #target_details.tab-pane
                  %table.table.table-striped.detail-table
                    - @listing.custom_field_values.each do |custom_field_value|
                      - custom_field_value.with_type do |question_type|
                        = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }
                            
  