- content_for :javascript do
  initialize_signup_form("#{I18n.locale}","#{t("people.new.username_is_in_use")}","#{t("people.new.username_is_invalid")}","#{email_not_accepted_message}", "#{t("people.new.invalid_invitation_code")}", #{@current_community.real_name_required?}, #{@current_community.join_with_invite_only?} );

- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"

%section.content.checkout
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h1 REGISTER ACCOUNT
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "#"} Home 
            %li  Register Account
  / End .content-header
  .content-main
    .wrapper
      .pt-one-3
        = form_for @person, :url => APP_CONFIG.login_domain.to_s + people_path do |form|
          .register_account_row.row
            .col-md-6
              .personal-details
                %h2 YOUR PERSONAL DETAILS
                .row.pt-xlg.mt-sm
                  .col-md-12.input-field
                    %label ENTER YOUR FIRST NAME*
                    = form.text_field :given_name, :class => "form-control", :id => "first_name", :maxlength => "30"
                  .col-md-12.input-field
                    %label ENTER YOUR LAST NAME*
                    = form.text_field :family_name, :class => "form-control", :id => "last_name", :maxlength => "30"
                  .col-md-12.input-field
                    %label ENTER YOUR E-MAIL*
                    = form.text_field :email, :class => "form-control", :id => "detail_email", :maxlenght => "255"

            .col-md-6
              .your-password
                %h2 YOUR PASSWORD
                .row.pt-one-40
                  .col-md-12.input-field
                    %label ENTER YOUR UER NAME*
                    = form.text_field :username, :maxlength => "20", :class => "form-control", :id => "person_username1"
                  .col-md-12.input-field
                    %label ENTER YOUR PASSWORD*
                    = form.password_field :password, :class => "form-control", :maxlength => "255", :id => "person_password1"
                  .col-md-12.input-field
                    %label ENTER YOUR PASSWORD*
                    = form.password_field :password2, :class => "form-control", :maxlength => "255"

          .register_account_row.row
            .col-md-6
            .col-md-6
              .your-newsletter.ml-one-10
                %h2 NEWSLETTER
                .row.pt-xlg
                  .col-md-12.checkbox-field.pt-one-14
                    .inputbox-type1
                      %input.smart_input{:type => "checkbox"}/
                      .input-skin
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    %label I wish to subscribe to the Hazrati Shop newsletter.
                  .col-md-12.checkbox-field.mt-one-29
                    .inputbox-type1
                      %input.smart_input{:type => "checkbox"}/
                      .input-skin
                        %i.visible-checked.theme-icon.pesto-icon-ok
                    %label
                      I have reed and agree to the
                      %a.action-privacy{:href => "#"} Privacy Policy.
                  .col-md-12.action-field
                    %button.btn-default.btn-continue{:type => "submit"} CONTINUE
              / End .your-newsletter
            / End .col-md-6
          / End .row
        / End Form
    / End .wrapper
  / End .content-main
/ End .content
