- content_for :extra_javascript do
  :javascript
    ST.transaction.initializeFreeTransactionForm('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))
/ Start Content
%section.content
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 Buy Product
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li  Transactions
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41
        #new_message_form

          - author_link = link_to(author[:display_name], person_path(username: author[:username]))

          .preauthorize-section
            %h2.preauthorize-details-title
              = t("listing_conversations.preauthorize.details")

            %ul.no-bullets
              %li
                %div
                  = t("listing_conversations.preauthorize.by", listing: link_to("#{listing[:title]}", listing_path(listing[:id])), author: author_link).html_safe

              - m_price_break_down.each do |price_break_down|
                %li
                  = render partial: "transactions/price_break_down", locals: price_break_down

          = form_tag(form_action, method: :post, id: "transaction-form") do

            = hidden_field_tag(:start_on, booking_start)
            = hidden_field_tag(:end_on, booking_end)


            .preauthorize-section
              %h2
                = t("conversations.new.send_message_to_user", person: author_link).html_safe
              .row
                .col-12
                  = text_area_tag(:message, nil, :class => "text_area")

              - if quantity
                = hidden_field_tag(:quantity, quantity)

              .row.mt-one-45
                .col-12
                  = button_tag t("conversations.new.send_message"), :class => "btn btn-default send_button"
