%header#header.header-normal.responsive-type1
  .header-body
    / Start header-top-links
    .header-top-links
      %nav.navbar.navbar-static-top.nav-border-bottom
        .wrapper
          / Start navbar-left
          .navbar-left
            %ul.nav.navbar-nav
              %li
                = link_to about_infos_path do
                  = t("header.about")
              %li
                = link_to new_user_feedback_path do
                  = t("header.contact_us")
              - Maybe(@current_community).menu_links.each do |menu_links|
                %li
                  - menu_links.each do |menu_link|
                    = link_to menu_link.url(I18n.locale), :target => "_blank" do
                      = menu_link.title(I18n.locale)

              - if @current_user && @current_community && @current_user.has_admin_rights?
                %li
                  = link_to admin_details_edit_path do
                    = t("layouts.logged_in.admin")


          / Start navbar-right
          .navbar-right
            %ul.nav.navbar-nav
              %li.dropdown-search
                %a.dropdown-toggle.hidden-xs.hidden-sm{:href => "#"}
                  Search
                %ul.dropdown-menu
                  %li
                    %form.search-form
                      = text_field_tag "q", params[:q], :class => "form-control", :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
                      %a.demo-icon.pesto-icon-cross-mark.menu-close{:href => "#"}
              %li
                = render :partial => "layouts/locale_select", :collection => available_locales, :as => :loc_array, locals: {return_after_locale_change: return_after_locale_change}
              - if logged_in
                %li.dropdown.dropdown-combo.dropdown-language
                  %a.dropdown-toggle{:href => "#"}
                    = current_user_name
                  %ul.dropdown-menu
                    %li
                      = link_to t("homepage.index.post_new_listing"), new_listing_path, :class => "new-listing-link", :id => "new-listing-link"
                    %li
                      = link_to inbox_path do
                        = icon_map_tag(icons, "mail", ["icon-with-text"])
                        = t("layouts.conversations.messages")
                        - if unread_count > 0
                          .mobile-badge{:class => get_badge_class(unread_count)}
                            = unread_count
                    %li
                      = link_to profile_path do
                        = icon_map_tag(icons, "user", ["icon-with-text"])
                        = t("header.profile")
                    %li
                      = link_to manage_listings_path do
                        = icon_map_tag(icons, "list", ["icon-with-text"])
                        = t("header.manage_listings")
                    %li
                      = link_to settings_path do
                        = icon_map_tag(icons, "settings", ["icon-with-text"])
                        = t("layouts.logged_in.settings")
                    %li
                      = link_to logout_path do
                        = icon_map_tag(icons, "logout", ["icon-with-text"])
                        = t("layouts.logged_in.logout")
              - else
                %li
                  %a.hidden-xs{:href => login_path} Login
                %li
                  %a{:href => sign_up_path}
                    Register
              / End dropdown-language
          / End navbar-right
        / .wrapper
    / header-top-links
    / Start header table collapsed logo and main navigation
    .header-main
      .wrapper
        .header-table
          .header-row
            .header-column.logo
              .header-logo
                %a{:href => "/"}
                  %img{:src => '/assets/theme/logo.png', :alt => 'HAZRATI'}
              / header-logo
            / header-column
            .header-column.menu
              %button.header-btn-search.hidden-xxs{"data-object" => "dropdown-menu", "data-target" => ".dropdown-search .dropdown-menu", "data-toggle" => "collapse", :type => "button"}
                %i.demo-icon.pesto-icon-search
              %button.header-btn-collapse-nav{"data-object" => "main-nav", "data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
                %i.pesto-icon-menu
              #main-nav.collapse.header-main-nav
                %nav.navbar.navbar-default.navbar-right
                  %ul.nav.navbar-nav.hidden-xs.hidden-sm
                    - @categories = @current_community.categories.includes(:children)
                    - @main_categories = @categories.select { |c| c.parent_id == nil }
                    - @main_categories.each do |category|
                      - if !category.children.empty?
                        %li.dropdown.classic
                          = link_to category.display_name(I18n.locale), search_path({category: category}), :class => "dropdown-toggle home-categories-main #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                          %ul.dropdown-menu
                            - category.children.each do |child|
                              - if child.children.empty?
                                %li
                                  - is_selected = (defined? selected_category) ? (selected_category == child) : false;
                                  = link_to child.display_name(I18n.locale), search_path({category: child}), :class => "home-categories-sub", :data => {:"sub-category" =>child.id}
                              - else
                                %li.dropdown.classic
                                  = link_to child.display_name(I18n.locale), search_path({category: child}), :class => "dropdown-toggle home-categories-main  #{if child.has_subcategories? then 'has-subcategories' end}", :data => {category: child.id}
                                  %ul.dropdown-menu
                                    - child.children.each do |grand_child|
                                      %li
                                        - is_selected = (defined? selected_category) ? (selected_category == grand_child) : false;
                                        = link_to grand_child.display_name(I18n.locale), search_path({category: grand_child}), :class => "home-categories-sub", :data => {:"sub-category" =>grand_child.id}
                      - else
                        %li.selfitem
                          = link_to category.display_name(I18n.locale), search_path({category: category}), :class => "home-categories-main #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}

                  %ul.nav.navbar-nav.visible-xs.visible-sm
                    - @categories = @current_community.categories.includes(:children)
                    - @main_categories = @categories.select { |c| c.parent_id == nil }
                    - @main_categories.each do |category|
                      - if !category.children.empty?
                        %li.dropdown.classic
                          = link_to category.display_name(I18n.locale), search_path({category: category}), :class => "dropdown-toggle pull-left home-categories-main #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                          %a.toggle.collapsed.pull-right
                            %i.visible-collapsed.caret-icon.demo-icon.pesto-icon-plus
                            %i.visible-opened.fa.caret-icon.demo-icon.pesto-icon-minus
                          %ul.dropdown-menu
                            - category.children.each do |child|
                              - if child.children.empty?
                                %li
                                  - is_selected = (defined? selected_category) ? (selected_category == child) : false;
                                  = link_to child.display_name(I18n.locale), search_path({category: child}), :class => "home-categories-sub", :data => {:"sub-category" =>child.id}
                              - else
                                %li.dropdown.classic
                                  = link_to child.display_name(I18n.locale), search_path({category: child}), :class => "dropdown-toggle home-categories-main  #{if child.has_subcategories? then 'has-subcategories' end}", :data => {category: child.id}
                                  %a.toggle.collapsed.pull-right
                                    %i.visible-collapsed.caret-icon.demo-icon.pesto-icon-plus
                                    %i.visible-opened.fa.caret-icon.demo-icon.pesto-icon-minus
                                  %ul.dropdown-menu
                                    - child.children.each do |grand_child|
                                      %li
                                        - is_selected = (defined? selected_category) ? (selected_category == grand_child) : false;
                                        = link_to grand_child.display_name(I18n.locale), search_path({category: grand_child}), :class => "home-categories-sub", :data => {:"sub-category" =>grand_child.id}
                      - else
                        %li.selfitem
                          = link_to category.display_name(I18n.locale), search_path({category: category}), :class => "home-categories-main #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
